./target
.classpath
.project
.settings

arcanedefenders-android/target
arcanedefenders-android/.classpath
arcanedefenders-android/.project
arcanedefenders-android/.settings
arcanedefenders-android/libs/
arcanedefenders-android/.externalToolBuilders/
arcanedefenders-android/gen/

arcanedefenders-core/target
arcanedefenders-core/.classpath
arcanedefenders-core/.project
arcanedefenders-core/.settings

arcanedefenders-desktop/target
arcanedefenders-desktop/.classpath
arcanedefenders-desktop/.project
arcanedefenders-desktop/.settings

